body {
    background-image: url(/imgs/folha.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Times New Roman', serif;
    color: #3b2f2f;
}